li.big_dropdown_navigation,
li.big_dropdown_navigation:hover{
	position:static;
	
	ul{
		width:100%;
		left:0;
		right:0;
	
		li{
			width:50%;
			float:left;
			clear:none;
		
			.big_box{
				padding:20px 10px;
			
				.navi_image{
					width:30%;
					height:85px;
					margin:0;
				
					&.float_left{
						margin-right:20px;
					}
				
					&.float_right{
						margin-left:20px;
					}
				}
			
				.navi_text{
					display:inline-block;
					width:65%;
				
					strong{
						display:block;
					}
				
					a,span{
						position:relative;
						margin:0;
						padding:0;
					}
				
					&.empty{
						strong{
							margin-bottom:12px;
						}
					}
				}
			}
		
		}
	}
}